
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   max-width: 100%;
   max-height: 100%;
}

body
{
  max-width: 1152px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  font-size: 14px;
  min-width: 350px;
}
.Block_3_Project
{
  background-image: url(../img/Block_3_project/BG_OurProj.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  padding-top: 45px;
}
.Block_3_Project .text
{
  max-width: 440px;
  max-height: 440px;
  border-radius: 50%;
  background: rgba(53, 0, 143, 0.8);
  text-align: center;
  margin: 0 auto;
  padding: 34px 64px 76px 63px;
}

.Block_3_Project .text h2
{
  margin: 0px;
  font-size: 24px;
}
.Block_3_Project .text p
{
  max-width: 313px;
  min-height: 273px;
  margin-top: 28px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}
/* Блок с логотипами в одну линию */
.logo_line li
{
    display: inline-block;
}
.logo_line li:not(:last-child)
{
    margin-right: 95px;
}
.logo_line
{
  margin-top: 50px;
  margin-left: 4.3%;
}
.logo_line img
{
  width: 100%;
  height: 100%;
}
.new_cen
{
  max-width: 155px;
  max-height: 100px;
}
.school
{
  max-width: 141px;
  max-height: 100px;
}
.uroch
{
  max-width: 141px;
  max-height: 100px;
}
.popolz
{
  max-width: 132px;
  max-height: 100px;
}
.saxa
{
  max-width: 100px;
  max-height: 100px;
}

/* ==========АДАПТИВ============= */

@media (max-width:1152px)
{
  .logo_line li:not(:last-child)
  {
      margin-right: 8.2%;
  }
}
@media (max-width:1024px)
{
  .logo_line li:not(:last-child)
  {
      margin-right: 5.2%;
  }
  .logo_line
  {
    margin-left: 2.3%;
  }
}
@media (max-width:768px)
{
  .logo_line li:not(:last-child)
  {
    margin-right: 1.2%;
  }
  .logo_line
  {
    margin-left: 1.3%;
  }
}
@media (max-width:426px)
{
  .logo_line img
  {
    width: 80%;
    height: 80%;
  }
}

@media (max-width:376px)
{
  .logo_line img
  {
    width: 80%;
    height: auto;
  }
    .logo_line li:not(:last-child)
    {
      margin-right: -10px;
    }
    .Block_3_Project .text p
    {
font-size: 16px;
    }
}
