*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* добавим плавность переходов для всех элементов страницы*/
}
@font-face {font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   max-width: 100%;
   max-height: 100%;
}

body
{
  max-width: 1152px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  font-size: 14px;
  min-width: 200px;
}


.Block_2_Tur_base
{
  height: 733px;
  background-image: url(../img/Block_2_Tur_base/BG_TurBase.png);
}
.Block_2_Tur_base h1
{
  font-size: 36px;
  font-style: normal;
  text-align: center;
  padding-top: 34px;
}
.Pink_Block_Saxa
{
  padding: 23px 25px 23px 25px;
  float: left;
  width: 30.3819%;
  height: 550px;
  margin-top: 30px;
  margin-left: 14.5833%;
  background: rgba(190, 0, 120, 0.3);
  border-radius: 20px;
  text-align: center;
}
.Pink_Block_Saxa .text
{
  font-style: normal;
  font-size: 13px;
  margin-top: 30px;
  line-height: 16px;
  margin-bottom: 94px;
}
.Pink_Block_Urochi
{
  padding: 48px 25px 23px 25px;
  float: right;
  max-width: 350px;
  max-height: 550px;
  width: 30.3819%;
  height: 550px;
  margin-top: 30px;
  margin-right: 14.1493%;
  background: rgba(190, 0, 120, 0.3);
  border-radius: 20px;
  text-align: center;

}
.Pink_Block_Urochi .text
{
  font-style: normal;
  font-size: 13px;
  margin-top: 55px;
  line-height: 16px;
  margin-bottom: 30px;
  max-width: 300px;
  height: 192px;
}
.Button_go_over
{

  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 192px;
  max-height: 52px;
  box-shadow: 1px 2px 10px 1px rgba(53, 0, 143, 0.7);
  background: #BE0078;
  border-radius: 10px;
}
.Button_go_over p
{
    margin-top: 15px;
    margin-left: 30px;
    display: block;
    float: left;
    font-size: 18px;
}
.arrow
{
  display: block;
  max-width: 45px;
  float: right;
  margin-right: 29px;
  margin-top: 17px;
}
