*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* добавим плавность переходов для всех элементов страницы*/
}
@font-face {font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   max-width: 100%;
   max-height: 100%;
}

body
{
  max-width: 1152px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  font-size: 14px;
  min-width: 200px;
}

.Block_1_Calendar
{
  height: 610px;
  background-image: url(../img/BG1.png);
  padding-top: 113px;
}

/* текст над кнопкой календарь */
.Block_1_Calendar .text
{
  margin-left: 50px;
  max-width: 630px;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

/* сама кнопка календарь */
.Button_Calendar
{
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 52px;
  background: #BE0078;
  /* кнопка */
  box-shadow: 1px 2px 10px 1px rgba(53, 0, 143, 0.7);
  border-radius: 10px;
}
/* текст внутри кнопки */
.Button_Calendar p
{
  font-size: 18px;
  line-height: 52px;
  /* identical to box height */
  color: #FFFFFF;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 auto;
}
