*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* добавим плавность переходов для всех элементов страницы*/
}
@font-face {font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   max-width: 100%;
   max-height: 100%;
}

body
{
  max-width: 1152px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  font-size: 14px;
  min-width: 200px;
}

footer
{
  font-size: 18px;
  width: 100%;
  height: 200px;
  background-color: #35008F;
  margin: 0;
}
.Block_Footer
{
  padding-top:30px;
  margin-left: 50px;
}

/* Все права защищены */
.Protect
{
  margin: 0;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* номер телефона */
.Phone-call
{
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.04px;
  text-align: Left;
  margin-top: 20px;
  margin-bottom: 19px;

}
/* номер вотс */
.Whatsapp
{
  margin-top: 0;
  margin-bottom: 24px;
}
footer img
{
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  width: 100%;
}
