

footer
{
  font-size: 18px;
  width: 100%;
  height: auto;
  background-color: #35008F;
  margin: 0;
}
.Block_Footer
{
  padding-top:30px;
  margin-left: 50px;
}

/* Все права защищены */
.Protect
{
  margin: 0;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* номер телефона */

p.Phone-call
{
  max-width: 68.75%;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.04px;
  text-align: Left;
  margin-top: 20px;
  margin-bottom: 19px;

}
/* номер вотс */
.Whatsapp
{
  margin-top: 0;
  padding-bottom: 24px;
}
footer img
{
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  width: 100%;
}
