*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* добавим плавность переходов для всех элементов страницы*/
}
@font-face {
  font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
a:visited{color: #FFFFFF;
}
a:hover{
  text-decoration: underline 3px solid #BE0078;

}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   max-width: 100%;
   max-height: 100%;
}
background-repeat: no-repeat;
html, body
{
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  font-size: 14px;
}
header
{
  width: 100%;
  max-height: auto !important;
  background-image: url(../img/Header/BG1_top.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo
{
  max-width: 190px;
  max-height: 89px;
  margin-left: 50px;
}
nav
{
  max-height: 20px;
  float:right;
  margin-top:32px;
  margin-right: 67px;

}
nav li
{
  display: inline-block;
  /* margin-right:120px; */
}
nav li:not(:last-child) {
margin: 0px 120px 0px 0px;
}
@media (max-width: 840px)
{
  nav li:not(:last-child) {
  margin: 0px 80px 0px 0px;
  }
}
@media (max-width: 725px)
{
  nav li:not(:last-child) {
  margin: 0px 50px 0px 0px;
  }
}
@media (max-width: 640px)
{
  nav li:not(:last-child) {
    display:block;
  margin: 0px 10px 20px 0px;
  }
}

@media (max-width: 375px)
{
  nav li:not(:last-child) {
    display:block;
  margin: 0px -20px 20px 0px;
  }
}
