/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/*--------------------*/
@font-face {font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
body {
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header {
  height: auto;
  margin-bottom: -90px;
  /* background-color: green; */
  position: relative;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 67px 0 50px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__body {

}

.header__logo {
}

.header__menu {
  max-width:
}
.header__list {
    align-items: flex-start;
    /* height: 30px; */
    justify-content: flex-end;
}

.header__list li {
  display: inline-flex;
  margin-right: 120px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  border-bottom: 3px solid #BE0078;
  padding-bottom: 2px;
}

.header__list li:last-child {
  margin: 0;
}

@media (max-width:420px) {
  .header__list li {
    margin-right: 10%;
    font-size: 15px;

  }
}

/* =================БЛОК 1 КАЛЕНДАРЬ================= */

.calendar {
  min-height: 697px;
  padding-top: 203px;
  background-image: url(img/Background_1.png);
  background-size: cover;
}
.calendar__row {
  display: flex;
  height: auto;
  flex-direction: column;
}

.calendar__body {
  font-size: 24px;
  line-height: 29px;
  max-width: 630px;
}

.calendar__butt {
  display: flex;
  background: #BE0078;
  box-shadow: 1px 2px 10px 1px rgba(53, 0, 143, 0.7);
  border-radius: 10px;
  max-width: 250px;
  height: 52px;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
}

.turbase {
  min-height: 733px;
  background-size: cover;
  background-image: url(img/Block_2_Tur_base/BG_TurBase.png);
  padding-top: 36px;
  padding-bottom: 74px;

}

.turbase__body {
  font-size: 36px;
  font-style: normal;
  text-align: center;
}

.turbase__row {
  display: flex;
  flex-direction: row;
  margin:32px 0 0 0;
  justify-content: space-around;
}

.turbase__pink_block {

  padding: 48px 25px 23px 25px;
  width: 350px;
  height: 550px;
  background: rgba(190, 0, 120, 0.3);
  border-radius: 20px;
  text-align: center;
}

.pink_block__colomn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }

.pink_block__colomn__image {
 height: 150px;
}

.pink_block__colomn__text {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;

}

.pink_block__colomn__button {
  width: 192px;
  height: 52px;
  box-shadow: 1px 2px 10px 1px rgba(53, 0, 143, 0.7);
  background: #BE0078;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  margin: 0 0 0 6px;
}













/* ================================Подвал========================= */



footer
{
  font-size: 18px;
  width: 100%;
  height: auto;
  background-color: #35008F;
  margin: 0;
}
.Block_Footer
{
  padding-top:30px;
  margin-left: 50px;
}

/* Все права защищены */
.Protect
{
  margin: 0;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* номер телефона */

p.Phone-call
{
  max-width: 68.75%;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.04px;
  text-align: Left;
  margin-top: 20px;
  margin-bottom: 19px;

}
/* номер вотс */
.Whatsapp
{
  margin-top: 0;
  padding-bottom: 24px;
}
footer img
{
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  width: 100%;
}
