/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/*--------------------*/
@font-face {font-family: "Helvetica Narrow";
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5a4cd90b04b94bfd8c4e37368228a4dd.svg#Helvetica Narrow") format("svg"); /* iOS 4.1- */
}
body {
  font-family: "Helvetica Narrow", "Arial", sans-serif;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: black;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1 1 auto;
}

.header {
  height: auto;
  margin-bottom: -90px;
  position: relative;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  max-width: 573px;
    width: 100%;
}

.header__list {
  
    display: flex;
    
    justify-content: space-between;
}

.header__list li {
  /* display: inline-flex; */
  /* margin-right: 120px; */
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header a {
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
}
.header a:visited {
  color: #FFFFFF;
}
.header a:hover {
  border-bottom: 3px solid #BE0078;
  padding-bottom: 2px;
}

.header__list li:last-child {
  margin: 0;
}

@media (max-width:420px) {
  .header__list li {
    margin-right: 10%;
    font-size: 15px;
  }
  .container {
    padding: 0 50px 0 50px;
  }
  .header {
    margin-bottom: -110px;
  }
}


/* ==================tours_excursus=========== */
.tours_excursus__row {
  display: flex;
  align-content: center;
  max-height: 800px;
  width: 100%;
}
.tours_excursus {
  background-image: url(../img/Block_1/Background.png);
  background-size: cover;
  height: 800px;
}

.tours_excursus__body {
display: flex;
align-items: center;
font-weight: bold;
font-size: 48px;
line-height: 58px;
min-height: 700px;
/* identical to box height */
color: #FFFFFF;
}

/* ==========================BLUE BLOCK================ */


.blue_block {
  background-color: #35008F;
  min-height: 120px;
  padding-top: 32px;
  padding-bottom: 33px;
}
.blue_block__body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.blue_block__body__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.number {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.045em;
}
.blue_block__body__text .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}


/* ======================Ecscurs================ */

.Button_ture {
  background-color: #FFFFFF;
  min-height: 123px;
  padding-top: 28px;
}

.Button_ture__row {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.Button_ture__empty_block {
  width: 229px;
  height: 51px;
}
.Button_ture__double_block {
  display: flex;
  justify-content: space-between;
  width: 265px;
  margin-right: 10px;
  margin-left: 10px;
}
.Button_ture__double_block__first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 51px;
  border: 2px solid #35008F;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(70, 0, 190, 0.25);
  border-radius: 10px;
}
.Button_ture__double_block__second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 51px;
  border: 2px solid #35008F;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(70, 0, 190, 0.25);
  border-radius: 10px;
  order: -1;
}
.Button_ture__Graph {
  width: 229px;
  height: 51px;
  border: 2px solid #35008F;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(70, 0, 190, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button_ture__row a:visited
{
  color:#000000;
}
.Button_ture__row :hover {
  border-color: rgba(53, 0, 143, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
.Button_ture__row a
{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#000000;
  height: 100%;
  width: 100%;
}
/* =====================BLOCK_3_IMAGE============ */


.block_3_image {
  background-color: #FFFFFF;
  color: #000000;
}

.block_3_image__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 3244px;
}
.block_3_image__row__char {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 520px;
  height: 600px;
  padding-bottom:34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;  
}
.title {
  font-weight: bold;
font-size: 24px;
line-height: 29px;
margin-bottom: 20px;
}

.block_3_image__row__char .text {
  margin: 0 30px 0 20px;

}

.button_more_det {
  box-shadow: 1px 2px 10px 1px rgba(53, 0, 143, 0.7);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:160px;
  height: 51px;
}
.button_more_det a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.prod {
  border-radius: 0px;
}
.button_more_det a:visited {
  color: #000000;
}




/* ======================FOOTER================= */



footer
{
  font-size: 18px;
  width: 100%;
  height: auto;
  background-color: #35008F;
  margin: 0;
}
.Block_Footer
{
  padding-top:30px;
  margin-left: 50px;
}

/* Все права защищены */
.Protect
{
  margin: 0;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 1px;
}
/* номер телефона */

p.Phone-call
{
  max-width: 68.75%;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.04px;
  text-align: Left;
  margin-top: 20px;
  margin-bottom: 19px;

}
/* номер вотс */
.Whatsapp
{
  margin-top: 0;
  padding-bottom: 24px;
}
footer img
{
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  width: 100%;
}
